@import './base.css';

#app {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.login-bg {
  background: #244bc5;
  background-size: cover;
  background-position: center;
}
